<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Locust</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" media="screen">
    <link href="../static/css/common.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#main" data-toggle="tab">Easy-Locust</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li><a href="#config" data-toggle="tab">Config</a></li>
          <li><a href="#apis" data-toggle="tab">APIs</a></li>
          <li><a href="#slaves" data-toggle="tab">Slaves</a></li>
          <!--<li><a href="#auth" data-toggle="tab">Auth</a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="container tab-content">
      <div class="row tab-pane active" id="main">
        <div class="col-sm-4">
          <h2>About</h2>
          <p>Description: ...</p>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="https://github.com/GuoTengda1993/easy-locust" target="_blank">GitHub</a></li>
          </ul>
          <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-sm-8">
          <h2>Essy Locust</h2>
          <h5>An extension tool for Locustio</h5>
          <p>Usage ...</p>
          <br>
        </div>
      </div>
    <div class="row tab-pane" id="config">
        <h2>Config</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="host" class="col-sm-3 control-label">Host:</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{ config.host }}" name="host" class="form-control" id="host"
                               placeholder="Please input the host">
                    </div>
                </div>
                <div class="form-group">
                    <label for="min-wait" class="col-sm-3 control-label">Min Wait Time(s):</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{ config.min_wait }}" class="form-control" id="min-wait" name="min-wait"
                               placeholder="Please input the min wait time, default: 0.">
                    </div>
                </div>
                <div class="form-group">
                    <label for="max-wait" class="col-sm-3 control-label">Min Wait Time(s):</label>
                    <div class="col-sm-8">
                        <input type="text" value="{{ config.max_wait }}" class="form-control" id="max-wait" name="max-wait"
                               placeholder=">= min-wait-time, default: 0.">
                    </div>
                </div>
                <div class="form-group">
                    <label for="request-mode" class="col-sm-3 control-label">Request Mode:</label>
                    <div class="col-sm-3">
                        <select class="form-control config-request-mode" id="request-mode" value="{{ config.request_mode }}">
                            <option value="FastHttpLocust">FastHttpLocust</option>
                            <option value="HttpLocust">HttpLocust</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="run-in-order" class="col-sm-3 control-label">Run in Order:</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="run-in-order" value="{{ config.run_in_order }}">
                            <option value=1>Yes</option>
                            <option value=0>No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content-type" class="col-sm-3 control-label">Content-Type:</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="content-type" value="{{ config.content_type }}">
                            <option value="application/json">application/json</option>
                            <option value="application/xml">application/xml</option>
                            <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
                            <option value="multipart/form-data">multipart/form-data</option>
                            <option value="text/html">text/html</option>
                            <option value="text/plain">text/plain</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="button" class="btn btn-primary" onclick="put_config('/config/1')">Save</button>
                    </div>
                </div>
            </form>
    </div>
    <div class="row tab-pane" id="apis">
        <div class="col-md-3">
            <h2>APIs</h2>
        </div>
        <div class="col-md-offset-0" style="margin-top: 18px">
            <a class="btn btn-primary" href="#add_api" role="button" data-toggle="modal">Add</a>
        </div>
        <div class="col-md-12">
        {% if apis %}
        {% for api in apis %}
            {% if api.method|lower == 'post' %}
                <div class="block block_post">
                    <span class="block-method block_method_post block_method_color"
                          onclick="collapse_api('#collapse_api_{{ api.id }}'); make_editor('code_{{ api.id }}')">POST</span>
            {% elif api.method|lower == ('get' or 'head') %}
                <div class="block block_get">
                    <span class="block-method block_method_get block_method_color"
                          onclick="collapse_api('#collapse_api_{{ api.id }}'); make_editor('code_{{ api.id }}')">GET</span>
            {% elif api.method|lower == ('put' or 'patch') %}
                <div class="block block_put">
                    <span class="block-method block_method_put block_method_color"
                          onclick="collapse_api('#collapse_api_{{ api.id }}'); make_editor('code_{{ api.id }}')">PUT</span>
            {% elif api.method|lower == 'delete' %}
                <div class="block block_delete">
                    <span class="block-method block_method_delete block_method_color"
                          onclick="collapse_api('#collapse_api_{{ api.id }}'); make_editor('code_{{ api.id }}')">DELETE</span>
            {% endif %}
                <span class="block-method block_url">{{ api.url }}</span>
                <span class="block-summary-description">Weight: {{ api.weight }}</span>
                <button class="btn btn-primary" onclick="put_api('/test/{{ api.id }}')">Save</button>
            {% if api.status == 0 %}
                <button class="btn btn-primary" onclick="operation('/test/{{ api.id }}/enable')">Enable</button>
            {% else %}
                <button class="btn btn-warning" onclick="operation('/test/{{ api.id }}/disable')">Disable</button>
            {% endif %}
                <button class="btn btn-danger" style="margin-left: 5px" onclick="delete_instance('/test/{{ api.id }}')">Del</button>
            </div>
             <div class="block_body collapse" id="collapse_api_{{ api.id }}">
                <pre id="code_{{ api.id }}" class="ace_editor" style="min-height: 400px">
                    <textarea>{{ api.extra }}</textarea>
                </pre>
             </div>
        {% endfor %}
        {% else %}
            <div class="row tip">
                <br><br>
                <div class="col-md-offset-4">
                    <h3>No apis yet.</h3>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="row tab-pane" id="slaves">
        <div class="col-md-3">
            <h2>Slave Nodes</h2>
        </div>
        <div class="col-md-offset-0" style="margin-top: 18px">
            <a class="btn btn-primary" href="#add_slave" role="button" data-toggle="modal">Add</a>
        </div>
        {% if slaves %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
            {% for slave in slaves %}
            {% if slave.status == 2 %}
            <tr class="success">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ slave.id }}</td>
                <td>{{ slave.ip }}</td>
                <td>{{ slave.username }}</td>
                <td>{{ slave.password }}</td>
                <td>
                    {% if slave.status > 0 %}
                    <button type="button" class="btn btn-warning small" onclick="operation('/slave/{{ slave.id }}/disable')">Disable</button>
                    {% else %}
                    <button type="button" class="btn btn-primary small" onclick="operation('/slave/{{ slave.id }}/enable')">Enable</button>
                    {% endif %}
                    {% if slave.status == 1 %}
                    <button type="button" class="btn btn-primary small" onclick="operation('/slave/{{ slave.id }}/check')">Check</button>
                    {% endif %}
                    <button type="button" class="btn btn-danger small" onclick="delete_instance('/slave/{{ slave.id }}')">Del</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="row tip">
                <br><br>
                <div class="col-md-offset-4">
                    <h3>No slaves yet.</h3>
                </div>
            </div>
        {% endif %}
    </div>
    <!--<div class="row tab-pane" id="auth">-->
        <!--<h2>Auth</h2>-->
    <!--</div>-->
</div>

<!--model-->
<div class="modal fade" id="add_api" tabindex="-1" style="margin-top: 100px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New API</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label">Url:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" name="url" class="form-control" id="url"
                                   placeholder="\easy-locust\test">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weight" class="col-sm-3 control-label">Weight:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" class="form-control" id="weight" name="weight"
                                   placeholder="Please input the weight, default: 100.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="method" class="col-sm-3 control-label">Method:</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="method">
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="query-params" class="col-sm-3 control-label">Query:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" name="query-params" class="form-control" id="query-params"
                                   placeholder='Json format: {"key": "value"}'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="request-data" class="col-sm-3 control-label">Request Data:</label>
                        <div class="col-sm-8">
                            <input type="textarea" value="" name="request-data" class="form-control" id="request-data">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expect-code" class="col-sm-3 control-label">Expect Status Code:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" name="expect-code" class="form-control" id="expect-code"
                                   placeholder='200, default is None'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expect-str" class="col-sm-3 control-label">Expect Str:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" name="expect-str" class="form-control" id="expect-str"
                                   placeholder='default is None'>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="post_api('/test')">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_slave" tabindex="-1" style="margin-top: 100px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Slave Node</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="ip" class="col-sm-3 control-label">IP:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" name="ip" class="form-control" id="ip"
                                   placeholder="10.0.0.2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">Username:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" class="form-control" id="username" name="username"
                                   placeholder="Please input the username, default: root.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" name="password" class="form-control" id="password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="post_slave('/slave')">Save</button>
            </div>
        </div>
    </div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script>
        editor = null;
        function make_editor(id) {
            editor = ace.edit(id);
            init_acs('json', 'monokai', editor);
        }
    </script>

</body>
</html>